@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,300,500,800);

body {
background-color: #222;
color: #fff;
font-family: 'Exo 2', sans-serif;
}

h1 {
  color: #0071BC;
  font-weight: 500;
  font-family: 'Exo 2', serif;
  margin: 5px;
}

#sources p {
font-size: 0.8em;
}

.content{
  width: 800px;
  margin: 10px auto;
  padding: 10px 20px;
  background: rgb(0,0,0);
  text-align: center;
}

.nav{
  width: 80%;
  margin: 20px auto;
  background-color: rgba(50,50,50,0.7);
  padding: 5px;
  border-radius: 4px;
  display: block;
}


.button {
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}
button:focus{
  outline: none;
}

#show-ISS {
border: 2px solid green;
color: green;
}
#show-ISS.selected{
  border: 2px solid #333;
  color: #333;
}

#show-exosphere {
border: 2px solid rgba(220,220,220,0.2);
color: rgba(220,220,220,0.2);
}
#show-exosphere.selected{
  border: 2px solid #333;
  color: #333;
}

#show-mesosphere {
  border: 2px solid rgba(220,220,220,0.4);
  color: rgba(220,220,220,0.4);
}
#show-mesosphere.selected{
  border: 2px solid #333;
  color: #333;
}

#show-stratosphere {
  border: 2px solid rgba(220,220,220,0.6);
  color: rgba(220,220,220,0.6);
}
#show-stratosphere.selected{
  border: 2px solid #333;
  color: #333;
}

#show-troposphere {
  border: 2px solid rgba(220,220,220,0.8);
  color: rgba(220,220,220,0.8);
}
#show-troposphere.selected{
  border: 2px solid #333;
  color: #333;
}

#ISS-Station {
  fill: green;
}

#ISS-Range {
  stroke: green;
}

#ISS-Label {
  color: green;
}

.aside{
  width: 80%;
  background-color: rgba(50,50,50,0.4);
  padding: 5px;
  margin: 20px auto;
  border-radius: 4px;
  min-height: 8em;
}

#aside_exosphere,
#aside_mesosphere,
#aside_stratosphere,
#aside_mesosphere,
#aside_troposphere,
#aside_iss{
  display: none;
}

#aside_head{
  font-weight: bold;
  color: #CCC;
}

#aside_text{
  font-weight: normal;
  color: #999;
}

#aside_head_iss{
  font-weight: bold;
  color: green;
}

#aside_text_iss{
  font-weight: normal;
  color: green;
}

.planet {
  width: 100%;
  margin: 1em auto;
}
